{% extends "basic/base.html" %}
{% load static %}


{% block content %}
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<div class="container">
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a class="nav-link active" href="#overview" data-toggle="tab">Overview</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#measures" data-toggle="tab">Measures</a>
		</li>
	</ul>

	<div class="tab-content clearfix">
		<div class="tab-pane active" id="overview">
			<div class="jumbotron">
				<div class="row">
					<div class="col-md-6">
						<h2>
							{{project.code}} : {{project.name}}
						</h2>
						<p>
							{{ project.description }}
						</p>
						<p><a href="{% url 'projectupdate' project.pk %}"><i class="fas fa-edit"></i></a></p>
						Author : {{ project.author }}
						<hr>
						<h2>Risk Map</h2><br > 
						<section>

							<table>
<tbody>
								<tr>
									<th rowspan="8" style='transform: rotate(90deg)'>Impact</th>
								</tr>
								<tr class="row">
									<td>
										<div
											style='background: orange;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
									<td>
										<div
											style='background: orange;float: left;height: 50px;margin: 1%;width: 50px;text-align:center;padding: 10px 0'>
											<i class="far fa-times-circle fa-2x"></i></div>
									</td>
									<td>
										<div style='background: red;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
									<td>
										<div style='background: red;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
								</tr>
								<tr class="row">
									<td>
										<div style='background: green;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
									<td>
										<div
											style='background: orange;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
									<td>
										<div
											style='background: orange;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
									<td>
										<div style='background: red;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
								</tr>
								<tr class="row">
									<td>
										<div style='background: green;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
									<td>
										<div style='background: green;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
									<td>
										<div
											style='background: orange;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
									<td>
										<div
											style='background: orange;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
								</tr>
								<tr class="row">
									<td>
										<div style='background: green;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
									<td>
										<div style='background: green;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
									<td>
										<div style='background: green;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
									<td>
										<div
											style='background: orange;float: left;height: 50px;margin: 1%;width: 50px;'>
										</div>
									</td>
								</tr>
								<tr class="row" style="text-align: center">
									<td><th>Likelihood</th></td>
								</tr>
								</tbody>

							</table>

						</section>


					</div>
					<div class="col-md-6">
						{% for need in project.security_needs.all %}
						<span class="badge badge-primary">{{need.attribute.name}} : {{need.value}}</span>
						<br />
						{% endfor %}
						<hr>
						<div id="contributors">
							Contributors :
							{% for contrib in project.contributors.all %}
							<li>{{ contrib }}</li>
							{% endfor %}

						</div>
						<div id="graphs">
							{% autoescape off %}
							{{ plot_div }}
							{% endautoescape %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="measures">
			<table id="dtProjects" class="table table-hover table-sm compact">
				<thead class="">
					<tr>
						<th scope="col">
							#
						</th>
						<th scope="col">
							Description
						</th>
						<th scope="col">
							Applicable
						</th>
						<th scope="col">
							Status
						</th>

					</tr>
				</thead>
				<tbody>
					<h2>Applicable Measures</h2>
					{% for projectcontrol in project.projectcontrol_set.all %}
					{% comment %} {% if projectcontrol.project.id == project.id %} {% endcomment %}
					<tr class="align-middle" {% if projectcontrol.get_applicable_display != "Applicable" %}
						style="background-color:#808080" {% endif %}>
						<th scope="row" class="align-middle">
							<a data-toggle="modal" href="{% url 'projectcontrolupdate' projectcontrol.pk %}" data-target="#modal"><span style="color:blue"><i
										class="fas fa-edit"></i></span></a>
							<a href="{% url 'projectcontroldelete' projectcontrol.pk %}"><span style="color:red"><i
										class="fas fa-trash"></i></span></a>
							{{ projectcontrol.control.code }}
						</th>

						<td>
							{{ projectcontrol.control.control_description }}
						</td>
						<td>
							{{ projectcontrol.get_applicable_display }}
						</td>
						<td>
							{% if projectcontrol.get_status_display == "Done" %}
							<i class="fas fa-check" style="color:green"></i>
							{% endif %}
							{% if projectcontrol.get_status_display == "Planned" %}
							<i class="fas fa-clock" style="color:orange"></i>
							{% endif %}
							{% if projectcontrol.get_status_display == "Not Planned" %}
							<i class="fas fa-times" style="color:red"></i>
							{% endif %}
						</td>
					</tr>
					{% comment %} {% endif %} {% endcomment %}
					{% endfor %}
				</tbody>
			</table>
			{% comment %} <table id="dtProjects" class="table table-hover table-sm compact">
				<thead class="">
					<tr>
						<th scope="col">
							#
						</th>
						<th scope="col">
							Description
						</th>
						<th scope="col">
							Applicable
						</th>
						<th scope="col">
							Status
						</th>

					</tr>
				</thead>
				<tbody>
					<h2>Applicable Measures</h2>
					{% for control in project.controls.all %}
					
					<tr class="align-middle" {% if projectcontrol.get_applicable_display != "Applicable" %}
						style="background-color:#808080" {% endif %}>
						<th scope="row" class="align-middle">
							<a data-toggle="modal" href="{% url 'projectcontrolupdate' projectcontrol.pk %}" data-target="#modal"><span style="color:blue"><i
										class="fas fa-edit"></i></span></a>
							<a href="{% url 'projectcontroldelete' projectcontrol.pk %}"><span style="color:red"><i
										class="fas fa-trash"></i></span></a>
							{{ projectcontrol.control.code }}
						</th>

						<td>
							{{ projectcontrol.control.control_description }}
						</td>
						<td>
							{{ projectcontrol.get_applicable_display }}
						</td>
						<td>
							{% if projectcontrol.get_status_display == "Done" %}
							<i class="fas fa-check" style="color:green"></i>
							{% endif %}
							{% if projectcontrol.get_status_display == "Planned" %}
							<i class="fas fa-clock" style="color:orange"></i>
							{% endif %}
							{% if projectcontrol.get_status_display == "Not Planned" %}
							<i class="fas fa-times" style="color:red"></i>
							{% endif %}
						</td>
					</tr>
					
					{% endfor %}
				</tbody>
			</table> {% endcomment %}
		</div>
	</div>

</div>





<!--<div class="col-md-8 offset-md-2">-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock content %}